# Assignment 5

## 1. Choose a REGRESSION dataset (reusing bikeshare is allowed), perform a test/train split, and build a regression model (just like in assignment 3), and calculate the 
    + Training Error (MSE, MAE)
    + Testing Error (MSE, MAE)
## 2. Choose a CLASSIFICATION dataset (not the adult.data set, The UCI repository has many datasets as well as Kaggle), perform test/train split and create a classification model (your choice but DecisionTree is fine). Calculate 
    + Accuracy
    + Confusion Matrix
    + Classifcation Report
    
## 3. (Bonus) See if you can improve the classification model's performance with any tricks you can think of (modify features, remove features, polynomial features)

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = 20, 10
import pandas as pd
import numpy as np
import os

%matplotlib inline
plt.rcParams['figure.figsize'] = 20, 10
from sklearn import linear_model, metrics

#bringing in data 

filename = "/Users/sanmirkem/Desktop/mlnn-personal/data/bikeshare_hour_count.csv"
#day_hour_count = pd.read_csv("../data/bikeshare_hour_count.csv")
# os.listdir(filename)
# print(os.getcwd())

day_hour_count = pd.read_csv(filename)
day_hour_count

     hour  monday  tuesday  wednesday  thursday  friday  saturday  sunday
0     0.0    21.0     34.0       43.0      47.0    51.0      89.0   106.0
1     0.1    39.0     22.0       27.0      37.0    56.0      87.0   100.0
2     0.2    31.0     24.0       26.0      42.0    50.0      98.0    77.0
3     0.3    26.0     27.0       25.0      29.0    52.0      99.0    87.0
4     0.4    19.0     24.0       29.0      29.0    50.0      98.0    69.0
..    ...     ...      ...        ...       ...     ...       ...     ...
235  23.5    36.0     65.0       60.0      94.0    80.0      93.0    28.0
236  23.6    37.0     61.0       66.0     100.0    81.0      95.0    28.0
237  23.7    30.0     42.0       49.0      80.0   101.0     105.0    27.0
238  23.8    33.0     52.0       47.0      79.0    91.0      93.0    24.0
239  23.9    34.0     33.0       48.0      65.0   105.0     111.0    23.0

[240 rows x 8 columns]

In [49]:
x = day_hour_count.drop('hour',axis=1)
y = day_hour_count['hour']

x.isna().sum()
x = x.fillna(0)

In [51]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2)
linear = linear_model.LinearRegression().fit(xtrain, ytrain)

In [57]:
 metrics.mean_squared_error(ytest, linear.predict(xtest))

30.888555263100546

In [58]:
metrics.mean_absolute_error(ytest, linear.predict(xtest))

4.177059118515768

In [59]:
 metrics.mean_squared_error(ytrain, linear.predict(xtrain))

22.478591355712837

In [61]:
metrics.mean_absolute_error(ytrain, linear.predict(xtrain))

3.6508915670853455

In [64]:
filename_classification = "/Users/sanmirkem/Desktop/mlnn-personal/data/Credit.csv"
Credit = pd.read_csv(filename_classification)
Credit

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,397,13.364,3838,296,5,65,17,Male,No,No,African American,480
397,398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,400,18.701,5524,415,5,64,7,Female,No,No,Asian,966

In [162]:
#Creating binary variable to classify ratings, which is what I want to look at 
# I know the highest possible rating is 1000, but I just want to be extra sure
Credit['High_Low'] = pd.cut(Credit['Rating'], [0, 499, 1000], labels=[0, 1])
Credit
non_numeric_columns = ['Gender', 'Student', 'Married', 
                     'Ethnicity','Rating']
x = Credit.copy().drop(non_numeric_columns, axis=1)
y = Credit['High_Low']

In [124]:
x

     Unnamed: 0   Income  Limit  Cards  Age  Education  Balance High_Low
0             1   14.891   3606      2   34         11      333        0
1             2  106.025   6645      3   82         15      903        0
2             3  104.593   7075      4   71         11      580        1
3             4  148.924   9504      3   36         11      964        1
4             5   55.882   4897      2   68         16      331        0
..          ...      ...    ...    ...  ...        ...      ...      ...
395         396   12.096   4100      3   32         13      560        0
396         397   13.364   3838      5   65         17      480        0
397         398   57.872   4171      5   67         12      138        0
398         399   37.728   2525      1   44         13        0        0
399         400   18.701   5524      5   64          7      966        0

[400 rows x 8 columns]

In [125]:
# Assigning test/training data
x_train, x_test, y_train, y_test = train_test_split(x.drop(['High_Low'], axis=1),x.High_Low, test_size=.20)

In [131]:
x.shape, x_train.shape, x_test.shape

((400, 8), (320, 7), (80, 7))

In [84]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import (accuracy_score, 
                             classification_report, 
                             confusion_matrix, auc, roc_curve
                            )

model = DecisionTreeClassifier(criterion='entropy')

In [130]:
model.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [132]:
predictions = Credit['High_Low']

In [133]:
test_predictions = model.predict(x_test)

In [134]:
accuracy_score(y_test, test_predictions)

0.9875

In [129]:
confusion_matrix(y_test, test_predictions)

array([[0, 0, 1, ..., 1, 1, 1],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [164]:
print(classification_report(y_test, test_predictions))
# My model is quite accurate

              precision    recall  f1-score   support

           0       0.99      1.00      0.99        67
           1       1.00      0.92      0.96        13

    accuracy                           0.99        80
   macro avg       0.99      0.96      0.98        80
weighted avg       0.99      0.99      0.99        80

In [165]:
x.corr() #trying to see what attributes may have the highest - perhaps that could lead us to more accurate model?

/var/folders/w7/z24rtcgx3zz1h56l5p6pyf4h0000gn/T/ipykernel_98254/2976989851.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  x.corr()

,Unnamed: 0,Income,Limit,Cards,Age,Education,Balance
Unnamed: 0,1.000000,0.037203,0.024172,-0.036304,0.058603,-0.001415,0.006064
Income,0.037203,1.000000,0.792088,-0.018273,0.175338,-0.027692,0.463656
Limit,0.024172,0.792088,1.000000,0.010231,0.100888,-0.023549,0.861697
Cards,-0.036304,-0.018273,0.010231,1.000000,0.042948,-0.051084,0.086456
Age,0.058603,0.175338,0.100888,0.042948,1.000000,0.003619,0.001835
Education,-0.001415,-0.027692,-0.023549,-0.051084,0.003619,1.000000,-0.008062
Balance,0.006064,0.463656,0.861697,0.086456,0.001835,-0.008062,1.000000

In [174]:
# Imporiving model accuracy? 
x_accuracy = x.copy().drop(['Limit'], axis=1)
y_accuracy = x_accuracy['High_Low']

In [175]:
x_train_2, x_test_2, y_train_2, y_test_2 = train_test_split(x_accuracy.drop(['High_Low'], axis=1),x_accuracy.High_Low, test_size=.20)

In [176]:
x_accuracy.shape, x_train_2.shape, x_test_2.shape

((400, 7), (320, 6), (80, 6))

In [177]:
model.fit(x_train_2, y_train_2)

DecisionTreeClassifier(criterion='entropy')

In [178]:
test_predictions_2 = model.predict(x_test_2)

In [179]:
accuracy_score(y_test_2, test_predictions_2)

0.925

In [180]:
print(classification_report(y_test_2, test_predictions_2))
## oops, my precision/recalls of 1's went right down. I am sticking with the originial classifiction model

              precision    recall  f1-score   support

           0       0.97      0.94      0.96        71
           1       0.64      0.78      0.70         9

    accuracy                           0.93        80
   macro avg       0.80      0.86      0.83        80
weighted avg       0.93      0.93      0.93        80